@font-face {
	font-family: 'gutenberg';
	src:url('fonts/gutenberg.eot?cgwloi');
	src:url('fonts/gutenberg.eot?#iefixcgwloi') format('embedded-opentype'),
		url('fonts/gutenberg.woff?cgwloi') format('woff'),
		url('fonts/gutenberg.ttf?cgwloi') format('truetype'),
		url('fonts/gutenberg.svg?cgwloi#gutenberg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gutenberg';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e602";
}
.icon-cross:before {
	content: "\e603";
}
.icon-eye:before {
	content: "\e61a";
}
.icon-align-left:before {
	content: "\e604";
}
.icon-align-center:before {
	content: "\e605";
}
.icon-align-right:before {
	content: "\e606";
}
.icon-text-height:before {
	content: "\e607";
}
.icon-text-width:before {
	content: "\e608";
}
.icon-bold:before {
	content: "\e609";
}
.icon-italic:before {
	content: "\e60a";
}
.icon-align-justify:before {
	content: "\e60b";
}
.icon-paragraph-left:before {
	content: "\e60c";
}
.icon-paragraph-center:before {
	content: "\e60d";
}
.icon-paragraph-right:before {
	content: "\e60e";
}
.icon-paragraph-justify:before {
	content: "\e60f";
}
.icon-paragraph-left2:before {
	content: "\e610";
}
.icon-paragraph-center2:before {
	content: "\e611";
}
.icon-paragraph-right2:before {
	content: "\e612";
}
.icon-paragraph-justify2:before {
	content: "\e613";
}
.icon-file-css:before {
	content: "\e614";
}
.icon-file-xml:before {
	content: "\e615";
}
.icon-plus2:before {
	content: "\e617";
}
.icon-minus:before {
	content: "\e618";
}
.icon-plus3:before {
	content: "\e619";
}
.icon-copy:before {
	content: "\e616";
}
.icon-copy2:before {
	content: "\e61b";
}
.icon-copy3:before {
	content: "\e61c";
}
