@font-face {
	font-family: 'atm';
	src:url('fonts/atm.eot?-o0y0kj');
	src:url('fonts/atm.eot?#iefix-o0y0kj') format('embedded-opentype'),
		url('fonts/atm.woff?-o0y0kj') format('woff'),
		url('fonts/atm.ttf?-o0y0kj') format('truetype'),
		url('fonts/atm.svg?-o0y0kj#atm') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'atm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-arrow-down2:before {
	content: "\e604";
}
.icon-arrow-up2:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-arrow-left2:before {
	content: "\e607";
}
.icon-arrow-down3:before {
	content: "\e608";
}
.icon-arrow-up--upload:before {
	content: "\e609";
}
