@import "nib"
@import "_modules/_set-text"
@import "_modules/_styles"
@import "_modules/_slider"
@import "_modules/_property"


body
	background-color #fff
	font-family 'Helvetica Neue'
	color #333


.toggle-controls
	position absolute
	top 0
	left 0

.is-hiding
	position absolute
	left -9999px
	opacity 0

@keyframes slideIn
	0%
		opacity 0
		transform translateX(-200px)
	70%
		opacity 1
		transform translateX(20px)
	80%
		transform translateX(-20px)
	90%
		transform translateX(10px)
	95%
		transform translateX(-10px)
	100%
		transform translateX(0px)
.is-showing
	animation slideIn 0.4s both ease-in


.times-new-roman
	font-family "Times New Roman"

.helvetica-neue
	font-family "Helvetica Neue"

.garamond
	font-family "Garamond"
