@import "nib"
@import "_modules/_set-text"
@import "_modules/_styles"
@import "_modules/_slider"
@import "_modules/_property"
@import "_modules/_property-adder"
@import "_modules/_expander"
@import "_modules/_colorpicker"
@import "_modules/_actions"
@import "_modules/_live-code"
a
	color #333
	font-weight 300
	text-decoration none
	transition all 0.3s

.dropcap
	float left
	// line-height 60px
	// padding-top 4px
	// padding-right 8px
	// padding-left 3px
.button-reset
	position absolute
	top 40px
	left 40px
	padding 0 13px
	line-height 40px
	color #666
	border none
	border-radius 3px
	background #ddd
	outline none
	transition all 0.3s
	opacity 0.5
	&:hover
		opacity 1

body
	color #333
	font-family 'Helvetica Neue'
	background-color #fff

.page-border
	box-sizing border-box
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	border 8px solid #eee
	z-index -9999
.toggle-controls
	position absolute
	top 0
	left 0

.is-hiding
	position absolute
	left -9999px
	opacity 0

.is-off-canvas
	// position absolute
	// right -90%
	transform translateX(350px)

.inspector
	position absolute
	top 0
	right 0
	height 100%
	transition all 0.5s

footer
	position absolute
	bottom 10px
	width 100%
	font-size 12px
	color #999
	font-weight 300
	text-align center
	a
		color #aaa

@keyframes slideIn
	0%
		opacity 0
		transform translateX(-200px)
	70%
		opacity 1
		transform translateX(20px)
	80%
		transform translateX(-20px)
	90%
		transform translateX(10px)
	95%
		transform translateX(-10px)
	100%
		transform translateX(0px)
.is-showing
	animation slideIn 0.4s both ease-in


.times-new-roman
	font-family "Times New Roman"

.helvetica-neue
	font-family "Helvetica Neue"

.garamond
	font-family "Garamond"
