<div class="toggle-controls" keypress>
	<button ng-click="toggleControls()">Toggle</button>
</div>
<div class="container">
	<div class="set-text-container {{type.typeface.value}}" style="" ng-style="type.style()">
		<p>
			Lorem ipsum Mollit in occaecat laborum tempor tempor sunt laborum sunt Duis. Lorem ipsum Qui dolore anim nisi enim in quis aliquip tempor. Lorem ipsum Esse ut sint mollit laboris est esse cillum officia sunt. Lorem ipsum In labore elit reprehenderit consequat ex sit dolore veniam nulla aliqua deserunt cillum. Lorem ipsum Occaecat ut nulla Ut consectetur mollit dolor dolore in pariatur.
		</p>
		<p>
			Lorem ipsum Mollit in occaecat laborum tempor tempor sunt laborum sunt Duis. Lorem ipsum Qui dolore anim nisi enim in quis aliquip tempor. Lorem ipsum Esse ut sint mollit laboris est esse cillum officia sunt. Lorem ipsum In labore elit reprehenderit consequat ex sit dolore veniam nulla aliqua deserunt cillum. Lorem ipsum Occaecat ut nulla Ut consectetur mollit dolor dolore in pariatur.
		</p>
	</div>
</div>
<div class="styles" ng-class="{'is-hiding': controls}">
	<div class="add-property expander" expander>
		<button class="expander-trigger"><i class="icon-plus2"></i></button>
		<ul class="expander-target">
			<li ng-repeat="(prop, name) in availableProperties()"><a ng-click="addProperty(prop)" href="">{{name}}</a></li>
		</ul>
	</div>
	<div ng-repeat="(key,property) in type.properties">
		<div property="property" name="key" remove="removeProperty"></div>
	</div>
	<div class="face">
		<div class="property">
			<select name="" id="" ng-model="type.typeface.value" ng-options="o.class as o.name for o in type.typeface.options"></select>
		</div>
	</div>
	<a href="" id="clip" clip-copy="type.css()" clip-click="doSomething()" hoverhover><i class="icon-copy"></i>Copy CSS</a>
</div>