<div class="toggle-controls" keypress>
	<button ng-click="toggleControls()" class="button-reset"><i class="icon-settings"></i></button>
</div>
<div class="undo">
	<pre>{{type.caretaker}}</pre>
	<button class="save" ng-click="type.saveMemento()">Save State</button>
	<ul>
		<li ng-repeat="index in type.caretaker()">
			<a href="" ng-click="type.restore(index)">Restore</a>
		</li>
	</ul>
</div>
<div class="outer-wrap">
	<div class="container">
		<div class="set-text-container" style="" ng-style="type.style()" dropcap>
			<!-- <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec faucibus est. Cras a luctus felis. Donec ornare massa lorem, eget blandit erat semper ac. Sed ullamcorper mauris quis tellus venenatis euismod. Duis luctus venenatis sapien, non tristique magna ultricies vel. Etiam vulputate vitae metus eget viverra. In hac habitasse platea dictumst.
			</p>
			<p>Nunc mattis et eros vitae laoreet. Pellentesque faucibus eros nec quam porta euismod. Morbi gravida ut enim tempor convallis. Fusce hendrerit sed orci vel pellentesque. Integer mollis justo lacus, sit amet vulputate neque commodo ac. Suspendisse ac odio purus. Etiam venenatis suscipit sollicitudin. In hac habitasse platea dictumst. Ut eu lacus augue. Ut euismod luctus purus ut dapibus.</p> -->
			<span ng-repeat="para in paras" ng-switch on="$index">
				<p ng-switch-when="0">
					<span class="dropcap" ng-style="type.dropcap()">{{firstLetter(para)}}</span>{{restOf(para)}}
				</p>
				<p ng-switch-default>
					{{para}}
				</p>
			</span>
		</div>
	</div>
	<div class="inspector" ng-class="{'is-off-canvas': controls}">
		<div class="styles" >
			<div class="add-property expander" expander>
				<button class="expander-trigger"><i class="icon-plus2"></i> <span>Property</span></button>
				<ul class="expander-target properties-menu">
					<li ng-repeat="(prop, name) in availableProperties()"><a ng-click="addProperty(prop)" href="">{{name}}</a></li>
				</ul>
			</div>
			<div ng-repeat="(key,property) in type.properties">
				<div property="property" name="key" remove="removeProperty">
					<div ng-switch on="property.type">
						<div ng-switch-when="number">
							<ng-include src="'scripts/templates/sliderTemplate.html'"></ng-include>
						</div>
						<div ng-switch-when="options">
							<select name="" id="" ng-model="property.value" ng-options="o.name as o.name for o in property.options"></select>
						</div>
						<div ng-switch-when="color">
							
							<input colorpicker type="text" ng-model="property.value" /> 
						</div>
						<div ng-switch-when="shorthand">
							<div ng-repeat="value in property.values | orderBy: '-type'">
								<span ng-switch on="value.type">
									<div ng-switch-when="color">
										<label for="{{$index}}">Color</label>
										<input id="{{$index}}" colorpicker type="text" ng-model="value.init" />
									</div>
									<div ng-switch-default>
										<ng-include src="'scripts/templates/nestedSliderTemplate.html'"></ng-include>
									</div>
								</span>
							</div>
						</div>
						<div ng-switch-when="compound">
								<div ng-repeat="property in property.properties | orderBy: '-type'">
									<div property="property">
										<div ng-switch on="property.type">
											<div ng-switch-when="number">
												<ng-include src="'scripts/templates/sliderTemplate.html'"></ng-include>
											</div>
											<div ng-switch-when="color">				
												<input colorpicker type="text" ng-model="property.value" />
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="live-code" ng-class="{'is-collapsed': !live_code}">
				<div ng-repeat="prop in type.properties">
					{{prop['property-name']}}: {{prop.propertyValue()}};
				</div>
			</div>
			<a href="" id="clip" class="action" clip-copy="type.css()" clip-click="doSomething()" hoverhover><i class="icon-copy"></i>Copy CSS</a>
			<a href="" ng-click="postTest()" class="action download"><i class="icon-in"></i></a>
			<a href="" ng-click="toggleLiveCode()" class="action show-css"><i class="icon-code2"></i></a>
		</div>
	</div>
</div>