.element-container
	margin-top 10px
	margin-right 20px
	padding 8px
	background-color #ddd
	.property-container
		margin-right 0
	&.is-selected
		border 1px solid red !important
	.selector-name
		text-align: center

