.live-code
	position absolute
	bottom 41%
	margin-bottom 15px
	clear left
	width 100%
	box-sizing border-box
	padding 5px
	background-color #eee
	border 3px solid #ddd
	font-family 'Andale Mono'
	opacity 1
	transition all 0.3s
	&.is-collapsed
		height 0
		overflow hidden
		opacity 0
		transform translateY(200px)
		display none
