.property-container
	color #444
	margin-top 10px
	margin-right 20px
	background-color #EBEBEB
	.delete
		display inline-block
		margin-right 5px
		// font-size 12px
		color #aaa
		cursor pointer
		&:hover 
			opacity 0.5
	.property
		padding 0 5px
		font-weight 300
		line-height 2
	.controls
		background-color #F8F8F8
		.slider-btn
			border-radius 100%
			border none
			outline none
		.decrease
			float left
		.increase
			float right
		// padding-bottom 5px
	// styles for nested properties
	.property-container
		margin 5px 20px
#clip
	display block
	// margin-top 20px
	// margin-right 10px
	padding 20px 20px
	text-align center
	text-decoration none
	font-weight 300
	color: #333
	border-radius 3px
	background-color #ccc
	transition all 0.3s
	[class^=icon]
		margin-right 7px
		color #666
	&.zeroclipboard-is-hover
		background-color darken(#ccc, 10%)
	&.zeroclipboard-is-active
		margin-top 25px
		background-color darken(#ccc, 30%)
		
