[contenteditable=true]
	transition all 0.3s
	outline-offset 8px
	outline 1px solid #fff
	&:hover
		outline 1px solid #eee
.set-text-container
	margin 200px auto 0
	width 600px
	font-family 'Times New Roman'
	&[contenteditable=true]:focus
		outline 1px solid #bbb
	p
		font-size 1em
		transition all 0.3s

