slider
	display block
	position relative
	height 20px
	width 90%
	margin 0 auto
	// margin 50px 0 50px 100px
	vertical-align middle
	span.bar
		height 15%
		z-index 999
		background #ccc
		left 0
		top 50%
		cursor pointer
		&.selection 
			background #0a0
			opacity 0.5
		&.unselected
			width      auto
			background #a00
			opacity    0.5
	span.pointer 
		position absolute
		// z-index 2 !important
		display block
		cursor pointer
		width 12px
		height 12px !important
		border-radius 8px
		top 20%
		bottom 0
		background-color #fff
		border 1px solid #ddd
		&:hover
			background-color #eee
	span.bubble
		font-size 0.7em
		line-height 1.4em
		font-family sans-serif
		text-align  center
		text-shadow none
		top -1.3em
		cursor pointer
	// slider span.bar.selection, slider span.bar.unselected {
	// }
