<div class="{{property.className()}} property-container expander" expander>
	<div class="property">
		<span class="delete" ng-click="remove(name)">X</span>
		<span class="name">{{property.name}}</span>
		<span class="value">{{property.propertyValue()}}</span>
	</div>
	<div class="controls expander-target">
		<button ng-click="property.increase()">+</button>
		<button ng-click="property.decrease()">-</button>
		<button ng-click="property.microIncrease()">+</button>
		<button ng-click="property.microDecrease()">-</button>
		<slider
		    ng-model="property.value"
		    floor="{{property.slider.floor}}"
		    ceiling="{{property.slider.ceiling}}"
		    precision="{{property.slider.precision}}"
		    step="{{property.slider.step}}"
	    >
		</slider>
	</div>
	<div class="expander-trigger">
		<span class="">+</span>
	</div>
</div>