<div class="{{property.className()}} property-container expander" expander>
	<div class="property">
		<span class="delete" ng-click="remove(name)"><i class="icon-cross"></i></span>
		<span class="name">{{property.name}}</span>
		<input type='number' value="{{property.value}}" ng-model="property.value" class="value">
		<span class="name">{{property.unit}}</span>
	</div>
	<div class="controls expander-target">
		<div ng-transclude></div>
	</div>
	<div class="expander-trigger">
		<i class="icon-arrow-down"></i>
	</div>
</div>